*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  background-color: #030303;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 100px;
  padding: 100px;
}

.btn1-box{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn1-box .btn1{
  font-family: sans-serif;
  border: none;
  padding: 12px 24px;
  background-color: transparent;
  border: 3px solid #222222;
  color: #ff00ff;
  font-size: 20px;
  cursor: pointer;
}
.btn1-box .btn1:hover{
  background-color: #ff00ff;
  border: 3px solid #ff00ff;
  color: white;
  box-shadow: 0px 0px 10px 10px #ff00ff50;
}
.btn1-box .line{
  width: 50px;
  height: 3px;
  background-color: #ff00ff;
  position: absolute;
  opacity: 1;
  transition: .4s;
}
.btn1-box .line-1{
  transform: translateX(-110px);
}
.btn1-box .line-2{
  transform: translateX(110px);
}
.btn1-box .line-3{
  height: 50px;
  width: 3px;
  transform: translateY(70px);
}
.btn1-box .line-4{
  height: 50px;
  width: 3px;
  transform: translateY(-70px);
}

.btn1-box:hover .line-1,
.btn1-box:hover .line-2,
.btn1-box:hover .line-3,
.btn1-box:hover .line-4{
  transform: translate(0);
  opacity: 0;
}
.btn2-box{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn2-box .btn2{
  font-family: sans-serif;
  border: none;
  padding: 12px 24px;
  background-color: transparent;
  border: 3px solid #222222;
  color: #ff00ff;
  font-size: 20px;
  cursor: pointer;
  transition: .4s;
}

.btn2-box::after,
.btn2-box::before{
  content: '';
  display: block;
  width: 10px;
  height: 5px;
  border: 2px solid #ff00ff;
  position: absolute;
  transition: .4s;
}
.btn2-box::after{
  top: -3px;
  left: 20px;
}
.btn2-box::before{
  bottom: -3px;
  right: 20px;
}

.btn2-box:hover::after{
  left: 100px;
}

.btn2-box:hover::before{
  right: 100px;
}

.btn3-box{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.btn3-box .btn3{
  font-family: sans-serif;
  border: none;
  padding: 12px 24px;
  background-color: transparent;
  border: 3px solid #222222;
  color: #ff00ff;
  font-size: 20px;
  cursor: pointer;
  transition: .4s;
}
.btn3-box .line1{
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, transparent, #ff00ff);
  position: absolute;
  top: 0px;
  animation: animate1 1s linear infinite;
}
@keyframes animate1 {
  0%{
    left: -100%;
  }
  100%{
    left: 100%;
  }
}

.btn3-box .line2{
  content: '';
  display: block;
  width: 3px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #ff00ff);
  position: absolute;
  right: 0px;
  animation: animate2 1s linear infinite;
  animation-delay: 0.5s;
}
@keyframes animate2 {
  0%{
    top: -100%;
  }
  100%{
    top: 100%;
  }
}

.btn3-box .line3{
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background: linear-gradient(180deg, transparent, #ff00ff);
  position: absolute;
  bottom: 0px;
  animation: animate3 1s linear infinite;
  animation-delay: 2s;
}
@keyframes animate3 {
  0%{
    right: -100%;
  }
  100%{
    right: 100%;
  }
}
.btn3-box .line4{
  content: '';
  display: block;
  width: 3px;
  height: 100%;
  background: linear-gradient(0deg, transparent, #ff00ff);
  position: absolute;
  left: 0px;
  animation: animate4 1s linear infinite;
  animation-delay: 2.5s;
}
@keyframes animate4 {
  0%{
    top: 100%;
  }
  100%{
    top: -100%;
  }
}


.btn4-box{
  font-family: sans-serif;
  background: #ff00ff77;
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
}

.btn4-box .btn4{
  font-size: 20px;
  padding: 12px 24px;
  border-radius: 12px;
  transform: translateY(-6px);
  background-color: #ff00ff;
}

.btn4-box:active .btn4 {
  transform: translateY(0px);
}