*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  background-color: #030303;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  width: 600px;
  margin: auto;
}
.box{
  width: 15px;
  height: 15px;
  background-color: #313131;
}